.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 350px;

  a, mat-form-field {
    margin-bottom: 15px;
  }

  @media (max-width: 560px) {
    min-width: inherit;
  }
}

@media (max-width: 560px) {
  .login-register {
    padding: 1rem;
  }

  .mat-card {
    width: 100%;
  }
}
