.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 560px) {
  .login-register {
    padding: 1rem;
  }

  .mat-card {
    width: 100%;
  }
}
