<mat-card *ngIf="period$ | async as period">
    <mat-card-header>
        <mat-card-title>{{ type | titlecase }}</mat-card-title>
        <mat-card-subtitle [ngSwitch]="type">
            <span *ngSwitchCase="types.Day">{{ period.start | date }}</span>
            <span *ngSwitchCase="types.Month">{{ period.start | date: 'MMMM yyyy' }}</span>
            <span *ngSwitchDefault>{{ period.start | date }} - {{ period.end | date }}</span>
        </mat-card-subtitle>

        <div class="ml-auto" *ngIf="type === types.Half; else picker">
            <button mat-icon-button (click)="prevHalf()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button (click)="nextHalf()" [disabled]="isLastHalf">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <ul class="widget-values">
            <li>
                <div class="widget-values__label">Avg. Activity</div>
                <div class="widget-values__value" *ngIf="!period.loading; else loading">
                    <ng-container *ngIf="period.activityPercent; else noData">
                        {{ period.activityPercent || 0 }}%
                    </ng-container>
                </div>
            </li>
            <li>
                <div class="widget-values__label">Time</div>
                <div class="widget-values__value" *ngIf="!period.loading; else loading">
                    <ng-container *ngIf="period.duration; else noData">
                        {{ period.duration | time }}
                    </ng-container>
                </div>
            </li>
            <li>
                <div class="widget-values__label">Norm of working time</div>
                <div class="widget-values__value">
                    <span *ngIf="period.dynamicNormOfWorkingTime">{{ period.dynamicNormOfWorkingTime | time }} / </span>
                    {{ period.normOfWorkingTime | time }}
                </div>
            </li>
            <li *ngIf="type !== types.Day">
                <div class="widget-values__label" *ngIf="!period.loading; else loading">Avg. hours per day</div>
                <div class="widget-values__value">
                    <ng-container *ngIf="period.avgHoursPerDay; else noData">
                        {{ period.avgHoursPerDay | time }}
                    </ng-container>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<ng-template #picker>
    <!-- TODO add style for selected month-->
    <input
        matInput
        style="width:1px;visibility:hidden;"
        [matDatepicker]="datepicker"
        [matDatepickerFilter]="filter"
        [max]="today"
        (dateChange)="changeDay($event)"
    />

    <mat-datepicker
        #datepicker
        [startView]="type === types.Month ? 'year' : 'month'"
        [touchUi]="isHandset$ | async"
        (monthSelected)="chosenMonthHandler($event, datepicker)"
    ></mat-datepicker>

    <button mat-icon-button class="ml-auto" (click)="datepicker.open()">
        <mat-icon>today</mat-icon>
    </button>
</ng-template>

<ng-template #loading>
    <div class="widget-values__value loading-block"></div>
</ng-template>

<ng-template #noData>
    <h4 class="report-no-data mat-h4">
        Nothing to report
    </h4>
</ng-template>
