<mat-card *ngIf="week$ | async as week">
  <mat-card-header>
    <mat-card-title>Week</mat-card-title>
    <mat-card-subtitle>{{ week.start | date }} - {{ week.end | date }}</mat-card-subtitle>

    <input matInput
           style="width:1px;visibility:hidden;"
           [matDatepicker]="picker"
           [max]="today"
           (dateChange)="changeDay($event)">
    <mat-datepicker #picker [touchUi]="isHandset$ | async"></mat-datepicker>

    <button mat-icon-button class="ml-auto" (click)="picker.open()">
      <mat-icon>today</mat-icon>
    </button>
  </mat-card-header>

  <ng-container *ngIf="!week.loading else loading">
    <ul class="widget-values">
      <li>
        <div class="widget-values__label">Avg. Activity</div>
        <div class="widget-values__value">{{ week.activityPercent || 0 }}%</div>
      </li>
      <li>
        <div class="widget-values__label">Time</div>
        <div class="widget-values__value">{{ week.duration | time }}</div>
        <!--<div class="widget-values__value">{{ week.duration | time }} / {{ dynamicNormOfWorkingTime | time }}</div>-->
      </li>
      <li>
        <div class="widget-values__label">Norm of working time</div>
        <!--<div class="widget-values__value">{{ normOfWorkingTime | time }}</div>-->
      </li>
    </ul>
  </ng-container>

  <ng-template #loading>
    <mat-progress-spinner class="m-auto" mode="indeterminate" diameter="80"></mat-progress-spinner>
  </ng-template>

  <ng-template #noData>
    <h4 class="report-no-data mat-h4">
      Nothing to report
    </h4>
  </ng-template>
</mat-card>
