<mat-toolbar color="primary">
    <span class="mr-auto">Recom Stat</span>

    <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button *ngIf="user$ | async; let user"
            mat-button
            [matMenuTriggerFor]="appMenu">
        <span class="d-xs-none">{{user.name}}</span>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div class="flex">
    <div class="col">
        <rec-widget-day></rec-widget-day>
    </div>
    <div class="col">
        <!--<rec-stat-week></rec-stat-week>-->
    </div>
    <div class="col">
        <!--<rec-stat-half></rec-stat-half>-->
    </div>
    <div class="col">
        <!--<rec-stat-month></rec-stat-month>-->
    </div>
</div>
