<mat-toolbar color="primary">
    <span class="mr-auto">Recom Stat</span>

    <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button *ngIf="user$ | async; let user"
            mat-button
            [matMenuTriggerFor]="appMenu">
        <span class="d-xs-none">{{user.name}}</span>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div class="flex">
    <div class="col">
        <!--<rec-widget-day></rec-widget-day>-->
        <rec-widget-period type="day"></rec-widget-period>
    </div>
    <div class="col">
        <rec-widget-period type="week"></rec-widget-period>
    </div>
    <div class="col">
        <rec-widget-period type="half"></rec-widget-period>
    </div>
    <div class="col">
        <rec-widget-period type="month"></rec-widget-period>
    </div>
</div>
